.container{
	&.bg-light{
		background-color: #eee !important;
	}
}
//FOOTER ====
.footer{
    height: auto;
    align-items: center;
    display: flex;
    z-index: 1;
    flex-direction: column;
    
	&.fixed{
        width: 100%;
        #{$dz-pos-left}: 0;
        background-color: var(--body-bg);
        bottom: 0;
        z-index: 999;
        position: fixed;
		
        .btn{
            .cart{
                transform: scale(1.5);
            }
        }
    }
    &.transparent{
        background-color: #e5eff5;        
    }
    .chat-footer {
        form{
            width: 100%;
            .input-wrapper{
                .form-control{
					border: 0;
                    margin-#{$dz-pos-right}: 15px;
					height: 45px;
                    &::placeholder{
                        color: #B0B0B0;
                    }
					&:focus,
					&:active,
					&.active {
						background: #FBFBFB;
					}
                }
                .icon-popup{
                    position: absolute;
                    bottom: 10px;
                    #{$dz-pos-left}: 10px;
                    z-index: 999;
                }
                &.message-area{
					display: flex;
					align-items: center;
                    .emoji-icon{
                        display: inline-block;
                        padding-#{$dz-pos-right}: 7px;
                        padding-top: 10px;
                        img{
                            width: 40px;    
                            height: 40px;    
                        }
                    }
                }
                .offcanvas{                
                    .offcanvas-body{                    
                        
                    }
                }
            }
        }
		&.style-1{
			form{			
				.form-control{
					background-color: transparent;
					border: 1px solid rgba(255,255,255,0.3);
					color: #fff;
					border-radius: 50px;
				}
				.btn{
					border-color:  rgba(255,255,255,0.3)!important;
				}
				.btn-icon {
					width: 45px;
					min-width: 45px;
					height: 45px;
				}
			}
		}
    }

    .form-check{
        &.checkmark{
            padding:0;
            .form-check-label{
                width: 48px;
                height: 48px;
                cursor: pointer;
                border-radius: 30px;
                text-align: center;
                line-height: 45px;
                border: 1px solid #EAEAEA;
            }
            .form-check-input{
                display:none;
            }
            .form-check-input:checked + .form-check-label{
                background-color:#EAEAEA;
                svg{
                    path{
                        fill: var(--primary);
                    }
                }
            }	
        }
    }
	.commnet-footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.form-control{
			border: 0;
			font-size: 0.875rem;
		}
		.send-btn{
			width: 40px;
			height: 40px;
			min-width: 40px;
			line-height: 40px;
			background-color: var(--primary);
			text-align: center;
			border-radius: 50%;
			svg{
				path{
					fill: #fff;
				}
			}
		}
	}
}

.message-icon{
    display: none;
    .container{
        padding: 14px;
    }    
    .checkbox{
        &.messagebar-sheet-image{
            width: 40px;
            height: 40px;
            background-size: contain;
            position: relative;
            display: inline-block;
            background-repeat: no-repeat;
            margin: 0 6px 10px;
        }
        input[type="checkbox"]{
            position: absolute;
            bottom: 0;
            background-color: transparent;
            #{$dz-pos-right}: 0;
            border-color: #fff;
            box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);
            &:checked{
                background-color: var(--primary);                                    
                border-color: var(--primary);                                    
            }
        }
    }
}

//Menu style ======

.menubar-area{
	padding: 0;
	position: unset;
	background-color: var(--bg-white)!important;
	border-radius: 18px;
    &.footer-fixed{
		position: fixed !important;
		bottom: 0;
		#{$dz-pos-left}: 0;
		z-index: 9;
		width: 100%;
	}
	.toolbar-inner {
        padding-#{$dz-pos-left}: 0;
        padding-#{$dz-pos-right}: 0;
        display: flex;
        max-width: 1000px;
        margin-#{$dz-pos-right}: auto;
        margin-#{$dz-pos-left}: auto;
        align-items: center;
		
		.circle{
			position: relative;
			display: flex;
			align-items: center;
			
			&:after{
				content: "";
				position: absolute;
				top: 0;
				#{$dz-pos-right}: -5px;
				width: 12px;
				height: 12px;
				background-color: #FFA902;
				border: 2px solid var(--primary);
				border-radius: 50%
			}
		}
        .nav-link,
		.menu-toggler{
			position: relative;
            color: var(--title);
			text-align: center;
			width: 25%;
			padding: 0 0;
			font-size: 18px;
			svg{
				width: 24px;
				height: 24px;
				path{
					fill: #7d8fab;
				}
			}
			&.active{
				svg{
					path{
						fill: var(--primary);
					}
				}
			}
			&.item-active{
				width: 55px;
				min-width: 55px;
				height: 55px;
				font-size: 24px;
				color: #fff;
				font-weight: 900;
				background: var(--primary);
				line-height: 45px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50px;
				svg{
					path{
						fill: #fff;
					}
				}
			}
            .title{
                display: block;
                margin-top: 5px;
                font-weight: 500;
                font-size: 12px;
            }
        }
    }
	.menubar-nav{
		.nav-link{
			padding: 10px 8px 8px;
			color: rgba(0, 0, 0, 0.7);
			&:after{
				content: "";
				position: absolute;
				top: -1px;
				#{$dz-pos-left}: 50%;
				width: 60%;
				height: 5px;
				background: var(--primary);
				border-radius: 0px 0px 5px 5px;
				transform: translateX($dz-tx);
				display: none;
			}
			span{
				font-size: 12px;
				display: block;
			}
			i{
				margin-bottom: 4px;
				font-size: 22px;
			}
			&.cart-handle{
				margin-top: -40px;
				i{
					font-size: 24px;
					color: #fff;
					position: absolute;
					top: 50%;
					#{$dz-pos-left}: 50%;
					transform: translate($dz-tx, -50%);
				}
				.hexad-menu{
					position: absolute;
					width: 55px;
					max-width: 55px;
					min-width: 55px;
					#{$dz-pos-left}: 50%;
					top: -25px;
					transform: translateX($dz-tx);
					z-index: -1;
					.shape-dark{
						display: block;
					}
					.shape-light{
						display: none;
					}
				}
			}
			&.active{
				color: var(--primary);
				&:after{
					display: block;
				}
			}
		}
	}
}