// Message
.message-list{
	padding-top: 10px;
	li{
		margin: 0 -15px 15px;
		border-bottom: 1px solid var(--border-color);
		padding-bottom: 15px;
		display: flex;
		align-items: flex-start;
		padding-#{$dz-pos-left}: 15px;
		padding-#{$dz-pos-right}: 15px;
		&:last-child{
			border-bottom: 0;
		}
		a{        
            display: flex;
			width: 100%
        }
        .media{
            position: relative;
            &:after{
				content: "";
				position: absolute;
				bottom: 0;
				#{$dz-pos-left}: 0;
				width: 15px;
				height: 15px;
				background-color: #54D969;
				border: 2px solid var(--body-bg);
				border-radius: 50px;
            }
        }
        .media-content{
            display: flex;
            margin-#{$dz-pos-left}: 15px;
            width: 100%;
            .name{
                margin-bottom: 0;    
            }
            p{
                color: $body-color;
				font-size: 13px;
            }
        }
		.left-content{
			width: 60px;
			min-width: 60px;
			text-align: $dz-pos-right;
			margin-#{$dz-pos-left}: auto;
			.seen-btn{
				width: 26px;
				height: 26px;
				border-radius: 50%;
				border: 1px solid #BBB6D0;
				float: $dz-pos-right;
				i{
					font-size: 18px;
					color: var(--primary);
				}
				&.active{
					background-color: var(--primary);
					border-color: var(--primary);
					i{
						color: #fff;
					}
					svg{
						path{
							fill: #fff;
						}
					}
				}
			}
			.time{    
				color: #898A8D;		
				display: block;	
			}
		}
    }
}

//Message-Detail ==
.message-content{
    .chat-content{
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-#{$dz-pos-right}: 60px;
        &.user{
            justify-content: flex-end;
            margin-#{$dz-pos-right}: 0;
            margin-#{$dz-pos-left}: 60px;
            .message-item{
                margin-bottom: 10px;
                .bubble{
                    background: var(--primary);
                    color: #FFF;
					border-radius: var(--border-radius) var(--border-radius) 0 var(--border-radius);
                    .emoji-icon{
                        display: inline-flex;
                        width: 30px;
                        height: 30px;
                        margin: 0 3px;
                    }
                }  
                .message-time{
                   text-align: $dz-pos-right;
                }
            }
        }
        .message-item{
            .bubble{
                padding: 8px 15px;
                background: var(--light);
                border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
                color: var(--primary);
                display: inline-flex;
                margin-top: 4px;
                font-size: 0.875rem;
                line-height: 1.4em;
                align-items: center;
            }
            .message-time{
                font-size: 0.75rem;
                padding: 8px 0;
                text-align: $dz-pos-left;
                line-height: 1em;
                margin-top: 5px;
                color: #969696;
                height: 14px;    
            }
        }
    }
}


// Notification ==

.dz-notification{
	margin-bottom: 15px;
	> ul li {
		position: relative;
	}
	.notification-list{	
		.list-items{
			display: flex;
			align-items: center;
			padding: 15px;
			margin: 0 -15px;
			border-bottom: 1px solid var(--border-color);
			.time{
				position: absolute;
				font-size: 12px;
				#{$dz-pos-right}: 15px;
				top: 15px;
			}
			&.fill-color{
				.dz-icon-box{
					&:after{
						display: block;
					}
				}
			}
			.list-content{
				.title-head{
					font-size: 16px;
					margin-bottom: 5px;
				}
				p{
					font-size: 12px;
					margin-bottom: 0;					
					color: #b7b7b7;
				}
				.btn-link{
					font-size: 14px;
				}
			}	
			.dz-icon-box{
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: var(--border-radius);
				background-color: var(--light);
				position: relative;
				&:after{
					display: none;
					content: "";
					position: absolute;
					top: -4px;
					#{$dz-pos-right}: -4px;
					width: 16px;
					height: 16px;
					z-index: 1;
					border-radius: 10px;
					background-color: $warning;
					border: 2px solid var(--bg-white);
				}
				svg{
					width: 35px;
					height: 35px;
					path{
						fill: var(--secondary);
					}
				}
			}
		}
	}
}

//Chat===
.list-item{
	display: flex;
	align-items: flex-start;
}

// Error ====
.error-page{
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    #{$dz-pos-left}: 50%;
    transform: translate($dz-tx, -50%);
	width: 100%;
	.title{
		font-weight: 800;
	}
}

.error-img{
	position: fixed;
    bottom: 0;
    #{$dz-pos-right}: 0;
    width: 170px;
}