//ORDER ===
.form{
	.form-item{
		margin-bottom: 15px;
		.form-control{	
			padding: 10px;
		}
		.input-group-text{
			border-radius: var(--border-radius);
			padding-#{$dz-pos-right}:0;
			a{
				font-size: 16px;
				color: var(--dark);
				display: flex;
				align-items: center;
				img{
					width: 20px;	
					min-width: 20px;
					margin-#{$dz-pos-right}: 10px;	
				}
			}
		}
	}	
}

.info-line{
	color: var(--dark);
	font-size: 0.75rem;
	margin: 0;
}

.short-tag{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.btn-check:checked + .tag-btn {
		border-color: var(--primary);
		background-color: var(--rgba-primary-1);
		&:after{
			display: block;
		}
	}
	.tag-btn{
		margin: 0 10px 0 0;
		font-size: 0.875rem;
		font-weight: 600;
		color: var(--title);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius-sm);
		padding: 0;
		background: var(--bg-white);
		display: inline-block;
		width: 60px;
		height: 35px;
		line-height: 30px;
		position: relative;
		transition: none;
		&:after{
			content: "\f00c";
			position: absolute;
			top: -6px;
			#{$dz-pos-right}: -6px;
			font-family: "Font Awesome 6 free";
			font-weight: 900;
			background: var(--primary);
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 50%;
			font-size: 0.55rem;
			display: none;
			color: #fff;	
		}
		img{
			width: 30px;
			min-width: 30px;
		}
	}
}  

//Payment =====

.payment-card{
	width: 100%;
	height: auto;
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
	margin-bottom: 20px;
	.card-media {
		display: flex;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			min-width: 300px;
		}
	}
	.card-info {
		position: absolute;
		top: 0;
		#{$dz-pos-left}: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 100%;
		img{
			position: absolute;
			#{$dz-pos-right}: 25px;
			top: 25px;
		}
	}
	.card-name {
		font-size: 16px;
		color: #fff;
		font-weight: 500;
		margin: 0 0 15px;
	}
	.card-number {
		color: #fff;
		font-size: 26px;
		margin: 0;
		font-weight: 700;
		letter-spacing: 2px;
	}
	.bottom-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		p {
			margin: 10px 0 0 0;
			letter-spacing: 1px;
			font-size: 12px;
			color: #fff;
		}
	}
	
}


// Address Page ===
.confirm-address{
	display: flex;
	align-items: center;	
	.form-check{
		padding-#{$dz-pos-left}: 0;
		padding-#{$dz-pos-right}: 0;
		.form-check-input{
			position: absolute;
			opacity: 0;
			min-width: 0;
			width: 0;
			height: 0;
		}
		.form-check-label{
			font-weight: 400;
			border: 1px solid var(--border-color);
			padding: 5px 10px;
			margin-#{$dz-pos-right}: 10px;
			border-radius: 20px;
		}
		.form-check-input:checked + .form-check-label{
			border-color: var(--primary);
		}
	}
}
 

// Order Screen ====
.dz-order{
	background-color: var(--bg-white);
	padding: 15px;
	margin: 0 -15px;
	border-bottom: 1px solid var(--border-color);
	.order-info,
	.order-detail{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
	}
	.productId{
		font-size: 12px;
		color: $info;
	}
	.quantity{
		font-size: 14px;
		font-weight: 700;
		color: var(--title);
	}
	.status{
		display: flex;
		align-items: center;
		.badge{
			font-size: 14px;
			white-space: nowrap;
			font-weight: 500;
			border-radius: var(--border-radius-sm);
			display: flex;
			align-items: center;
			gap: 8px;
			i{
				font-size: 8px;
			}
		}
	}
}

// Filter Screen ====
.dz-filter{
	.nav{
		background-color: #EFEFEF;
		.nav-link{
			background-color: #EFEFEF;
			border-radius: 0;
			color: var(--title);	
			font-size: 14px;
			font-weight: 500;
			font-family: var(--font-family-title);
			text-align: $dz-pos-left;
			padding: 12px 20px;
			&.active{
				background-color: var(--bg-white);			
				color: var(--title);	
			}
			&:focus-visible{
				box-shadow: unset;
			}
		}
	}
	.tab-content{
		width: 100%;
		position: sticky;
		top: 50px;
		.tab-pane{
			padding: 15px;
		}
		.form-check{
			justify-content: space-between;
			padding-#{$dz-pos-left}: 0;
			padding-#{$dz-pos-right}: 0;
			padding-bottom: 15px;
			.form-check-input{
				margin-#{$dz-pos-right}: 0;
				z-index: 2;
			}
		}
	}
}