// Product Details
.dz-product-preview{
	position: relative;
	overflow: hidden;
	.product-detail-swiper{
		.swiper-slide{
			width: 50px;
			.dz-media{
				&:after{
					content: "";
					position: absolute;
					top: 0;
					#{$dz-pos-left}: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), transparent);

				}
			}
		}
		.swiper-pagination{
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background:transparent;
				opacity: 1;
				border: 2px solid var(--bg-white);
				-webkit-transition: all 0.5s;
				-ms-transition: all 0.5s;
				transition: all 0.5s;
				@include transitionMedium;
				&-active{
					background: var(--bg-white);
				}
			}
		}	
	}
}

// Filter Start ===
.filter-swiper{
	background-color: var(--bg-white);
	padding: 8px 0;
    .swiper-slide{
        width: auto;
		&:first-child{
			margin-#{$dz-pos-left}: 15px;
		}
    }
}


.filter-btn{
	background-color: var(--light);
	border: 2px solid var(--border-color);
	padding: 10px 12px;
	display: flex;
	gap: 6px;
	align-items: center;
	justify-content: center;
	line-height: 1;
	font-size: 14px;
	color: var(--title);
	white-space: nowrap;
	border-radius: var(--border-radius-md);
	i{
		color: var(--primary);
	}
}

.dz-product-detail{
	.detail-content{
		margin-bottom: 15px;
		.brand-tag{
			background-color: var(--rgba-primary-1);
			border-radius: var(--border-radius);
			padding: 6px 12px;
			margin-bottom: 15px;
			font-weight: 600;
		}
	}
	.list-group{
		border: 0;
		.list-group-item{
			border: 0;
			display: inline-flex;
			align-items: center;
			justify-content: space-between;	
			padding: 2px 0;
			.title{
				font-weight: 500;
			}
		}
	}
}


.dz-review-meta{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.review{
		font-size: 14px;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		i{
			color: #F28D30;
			font-size: 12px;
		}
		span{
			margin-#{$dz-pos-left}: 5px;
			font-size: 12px;
			font-weight: 400;
			color: var(--body-color);
		}
	}
}

.product-size{
	display: flex;
	flex-wrap: wrap;
	.btn{
		padding: 0;
		height: 30px;
		width: 30px;
		line-height: 30px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 0;
		background-color: var(--bg-white);
		color: var(--title);
		justify-content: center;
		border: 1px solid var(--border-color);
		margin-#{$dz-pos-right}: 8px !important;
		flex: unset;
	}
	.btn-check{
		&:checked + .btn{
			border-color: var(--primary);
			color: #fff;
			background-color: var(--primary);
		}
	}
}

.color-filter{
	.form-check{
		padding-#{$dz-pos-left}: 0;
		padding-#{$dz-pos-right}: 0;
		span{
			height: 1rem;
			margin-#{$dz-pos-right}: 15px;
			width: 1rem;
			display:block;
			background-color: var(--secondary);
			position: relative;
			border-radius: 50%;
			z-index: 1;
			&:after{
				content: "";
				position: absolute;
				top: 50%;
				#{$dz-pos-left}: 50%;
				width: 26px;
				height: 26px;
				background-color: transparent;
				border: 2px solid var(--secondary);
				border-radius: 50%;
				opacity: 0.2;
				transform: translate($dz-tx, -50%) scale(0);
				z-index: -1;
			}
		}
		.form-check-input{
			opacity: 0;
			position: absolute;
			z-index: 2;
			margin-#{$dz-pos-left}: 0;
			margin-top: 0;
			cursor: pointer;
		}
		.form-check-input:checked + span {
			&:after{
				transform: translate($dz-tx, -50%) scale(1);
			}
		}
		&:last-child{
			span{
				margin-#{$dz-pos-right}: 0;
			}
		}
	}
}

.meta-content{
    margin: 10px 0 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
}

.total-cart{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.price-area{
		width: 200px;
	}
}

// Products Screen ===
.product-list{
	display: flex;
	align-items: center;	
    background: var(--bg-white);
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
	.dz-media{
		width: 80px;
		min-width: 80px;
		margin-#{$dz-pos-right}: 15px;
		img{
			border-radius: var(--border-radius);
		}
	}
	.item-bookmark{
		position: absolute;
		top: 5px;
		#{$dz-pos-right}: 5px;
		svg{
			width: 16px;
		}
	}
	.product-content{
		width: 100%;
		display: flex;
		flex-direction: column;
		.title{
			margin-bottom: 10px;
		}
	}
	.product-footer{
		display: flex;
		align-items: center;
		justify-content: space-between;
		small{
			font-weight: 600;
		}
	}
}