
// PROFILE  ===

//Profile Page ====
.notify-cart2{
	position: relative;
	margin-#{$dz-pos-right}: 10px;
	.badge{
		position: absolute;
		top: -12px;
		#{$dz-pos-right}: -12px;
		border-radius: 50%;
		border: 2px solid #fff;
		font-size: 12px;
		width: 25px;
		padding: 0;
		min-width: 25px;
		height: 25px;
		text-align: center;
		line-height: 22px;
	}
}

.profile-area{
	.main-profile{
		margin-bottom: 20px;
		display: flex;
		position: relative;
		align-items: center;
		.profile-detail{
			.name{
				margin-bottom: 5px;
			}
			span{
				display: block;
			}
			.title{
				font-weight: 600;
				font-family: var(--font-family-title);
			}		
		}
		.edit-profile{
			margin-#{$dz-pos-left}: auto;
			font-size: 24px;
		}
	}
	.content-box{
		margin: 0px -15px;
		padding: 0 15px 20px;
		border-bottom: 1px solid var(--border-color);
		ul{
			li{
				text-align: center;
				a{
					display: flex;
					align-items: center;
					flex-direction: column;
					background: var(--light);
					padding: 5px 15px;
					border: 2px solid var(--border-color);
					border-radius: var(--border-radius);
				}
				.dz-icon-box{
					font-size: 26px;
					margin-#{$dz-pos-right}: 0;
				}
				span{
					font-family: var(--font-family-title);
					color: var(--title);
					font-weight: 600;
				}
			}
		}	
	}
}

// Profile > Address Screen ===
.card{
	&.address-card{
		.card-header{
			padding-bottom: 0;
		}	
		.card-body{
			ul{
				display: flex;
				flex-direction: column;
				margin-bottom: 10px;
			}
		}
		.card-footer{
			display: flex;
			padding: 0;
			> *{
				border-#{$dz-pos-right}: 1px solid var(--border-color);
			}
			.footer-link{
				padding: 12px;
				width: 100%;
				text-align: center;
				font-size: 16px;
				font-weight: 600;
				color: var(--title);
				font-family: var(--font-family-title);
			}
		}	
	}
}

// Profile > Coupons Screen ===
.dz-offer-coupon{
	display: flex;
    align-items: center;
    background: var(--light);
    border-radius: var(--border-radius);
	padding: 12px 15px;
	border: 1px solid var(--border-color);
	margin-bottom: 15px;
	.offer{
		width: 50px;
		height: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-#{$dz-pos-right}: 15px;
		padding-#{$dz-pos-right}: 15px;
		border-#{$dz-pos-right}: 2px dashed var(--border-color);
	}
	h6{
		margin-bottom: 0;
	}
	p{
		margin-bottom: 0;
		font-family: var(--font-family-title);
		color: var(--title);
		font-weight: 500;
	}
}

.about-help{
	display: flex;
	align-items: center;
	margin: 0 -15px 20px;
	padding: 15px;
	background-color: var(--bg-white);
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.10);
	p{
		color: var(--title);
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 1.4;
		padding-#{$dz-pos-right}: 20px;
	}
}

.faq-box{
	margin: 0 -15px 40px;
}

.faq-card-box{
	border-radius: var(--border-radius-sm);
	box-shadow: var(--box-shadow);
	.card-body{
		padding: 8px;
		text-align: center;
		.card-title{
			margin-bottom: 0;
			font-weight: 400;
		}
	}
}